<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spmystery.episode.user.mapper.TokenMapper">

    <resultMap id="BaseResultMap" type="com.spmystery.episode.user.entity.Token">
        <id column="id" property="id"/>
        <result column="user_id" property="user.id"/>
        <result column="mobile" property="user.mobile"/>
        <result column="nickname" property="user.nickname"/>
        <result column="open_id" property="user.openId"/>
        <result column="union_id" property="user.unionId"/>
        <result column="head_img_url" property="user.headImgUrl"/>
        <result column="province" property="user.province"/>
        <result column="city" property="user.city"/>
        <result column="country" property="user.country"/>
        <result column="sex" property="user.sex"/>
        <result column="level" property="user.level"/>
        <result column="status" property="user.status"/>
        <result column="invite_user_id" property="user.inviteUserId"/>
        <result column="expire_time" property="expireTime"/>
        <result column="last_modify_time" property="lastModifyTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>


    <sql id="BaseColumnList">
        id, user_id, expire_time, last_modify_time, create_time
    </sql>

    <insert id="insert" parameterType="Token">
        INSERT INTO token(id, user_id, expire_time)
        VALUES (#{id}, #{user.id}, #{expireTime})
    </insert>

    <select id="findById" resultMap="BaseResultMap" parameterType="String">
        SELECT
        t.id, t.user_id, t.expire_time, t.last_modify_time, t.create_time,
        u.mobile, u.nickname, u.open_id, u.union_id, u.head_img_url, u.province, u.city,
        u.country, u.sex, u.level, u.status, u.invite_user_id
        FROM token t
        INNER JOIN `user` u ON t.user_id = u.id
        WHERE t.id = #{id}
    </select>

    <delete id="deleteByUserId" parameterType="String">
        DELETE FROM token WHERE user_id = #{userId}
    </delete>
</mapper>