<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spmystery.episode.user.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.spmystery.episode.user.entity.User">
        <id column="id" property="id"/>
        <result column="mobile" property="mobile"/>
        <result column="nickname" property="nickname"/>
        <result column="open_id" property="openId"/>
        <result column="union_id" property="unionId"/>
        <result column="head_img_url" property="headImgUrl"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="country" property="country"/>
        <result column="sex" property="sex"/>
        <result column="status" property="status"/>
        <result column="watch_ad_counts" property="watchAdCounts"/>
        <result column="invite_user_id" property="inviteUserId"/>
        <result column="alipay_account" property="alipayAccount"/>
        <result column="alipay_account_name" property="alipayAccountName"/>
        <result column="last_modify_time" property="lastModifyTime"/>
        <result column="create_time" property="createTime"/>
        <collection property="roleIds" javaType="list">
            <result column="role_id"/>
        </collection>
    </resultMap>

    <resultMap id="DramaTotal" type="com.spmystery.episode.user.entity.DramaTotal">
        <result column="sum" property="sum"/>
        <result column="drama_id" property="id"/>
    </resultMap>

    <sql id="BaseColumnList">
        id, mobile, nickname, open_id, union_id, head_img_url, province, city,
        country, sex, `level`, status, watch_ad_counts, invite_user_id, alipay_account,
        alipay_account_name, last_modify_time, create_time
    </sql>

    <insert id="insert" parameterType="User">
        INSERT INTO `user`(id, mobile, nickname, open_id, union_id, head_img_url, province,
        city, country, sex, `level`, status, watch_ad_counts, invite_user_id)
        VALUES
        (#{id}, #{mobile}, #{nickname}, #{openId}, #{unionId}, #{headImgUrl}, #{province},
        #{city}, #{country}, #{sex}, #{level}, #{status}, #{watchAdCounts}, #{inviteUserId})
    </insert>

    <insert id="insertUserRole" parameterType="UserRole">
        INSERT INTO user_role(user_id, role_id) VALUES(#{userId}, #{roleId})
    </insert>

    <select id="findByOpenId" resultMap="BaseResultMap" parameterType="String">
        SELECT
        u.id, u.mobile, u.nickname, u.open_id, u.union_id, u.head_img_url, u.province, u.city,
        u.country, u.sex, u.`level`, u.status, u.watch_ad_counts, u.invite_user_id, u.alipay_account,
        u.alipay_account_name, u.last_modify_time, u.create_time,
        ur.role_id
        FROM `user` u
        LEFT JOIN `user_role` ur ON u.id = ur.user_id
        WHERE u.open_id = #{openId}
    </select>

    <select id="findCountByOpenId" resultType="Integer" parameterType="String">
        SELECT
        count(1)
        FROM `user`
        WHERE open_id = #{openId} AND
    </select>

    <update id="updateById" parameterType="User">
        UPDATE
            `user`
        SET
            nickname = #{nickname},
            union_id = #{unionId},
            head_img_url = #{headImgUrl},
            province = #{province},
            city = #{city},
            country = #{country},
            sex = #{sex},
            status = 1,
            `level` = #{level}
        WHERE id = #{id}
    </update>

    <update id="updateWatchAdCountsById" parameterType="String">
        UPDATE
            `user`
        SET watch_ad_counts = watch_ad_counts + 1
        WHERE id = #{id}
    </update>

    <select id="findById" resultMap="BaseResultMap" parameterType="String">
        SELECT
        <include refid="BaseColumnList"/>
        FROM `user`
        WHERE id = #{id}
    </select>

    <update id="updateAccountAndNameById" parameterType="map">
        UPDATE `user`
        SET alipay_account = #{alipayAccount}, alipay_account_name = #{alipayAccountName}
        WHERE id = #{id}
    </update>

    <select id="findDistinctDramaIdById" parameterType="String" resultType="Long">
        SELECT DISTINCT drama_id
        FROM user_watch_drama_record
        WHERE user_id = #{userId}
    </select>

    <select id="findWatchRecordByUserId" parameterType="String" resultMap="DramaTotal">
        SELECT SUM(drama_index) `sum`, drama_id
        FROM user_watch_drama_record
        WHERE user_id = #{userId}
        GROUP BY drama_id
    </select>

</mapper>